
@{
    ViewBag.Title = "AdminList";
}


@using CoffeeApp.Models;
<h2>Current Inventory</h2>
<table class="table">
    <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var item in ViewBag.OutputList)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td><a class="btn btn-default" id="updateInventory" href="/Home/UpdateInventory?ProductID=@item.ProductID">Update</a></td>
            <td><a class="btn btn-danger" id="deleteItem" href="/Home/DeleteItem?ProductID=@item.ProductID" onclick="return confirm('Are you sure?')">Delete</a></td>
            <td><a href="/Home/Inventory" class="btn btn-primary" name="Inventory" id="addItem">Add New Item</a></td>

        </tr>
    }
</table>

